#!/bin/bash
#   ____     KawaiiPantsu's     ____  _   _ ____
#  |  _ \ _____      _____ _ __|  _ \| \ | / ___|
#  | |_) / _ \ \ /\ / / _ \ '__| | | |  \| \___ \
#  |  __/ (_) \ V  V /  __/ |  | |_| | |\  |___) |
#  |_|   \___/ \_/\_/ \___|_|  |____/|_| \_|____/
# ---------------------------------------------------------
# {{ ansible_managed }}
# Template used: {{ template_path }}

export PATH=/opt/powerdns-admin/venv/bin:$PATH
export FLASK_CONF=/opt/powerdns-admin/configs/production.py
cd /opt/powerdns-admin
venv/bin/python run.py
